@import url('https://fonts.googleapis.com/css?family=Roboto|Nunito:300');

p {
    margin: 0;
    padding: 0;
    font-family:'Nunito', Arial, sans-serif;
    color: black;
}
h2 {
    font-family: 'Roboto', Courier, sans-serif;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: cornflowerblue;
    }
h3 {
    font-family: 'Roboto', Arial, sans-serif;
    letter-spacing: 1px;
    color: cornflowerblue;
    font-size:medium;
    }

/*Navigation*/
#navbar {
  text-align: center;
}
ul {
      list-style-type: none;
      font-family: 'Roboto', Arial, sans-serif;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #423b3bfd;
    }
    li {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
    }
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    li a:hover {
      color:#423b3bfd;
      background-color: #fdd55b;
    }
  #navbar li a.current{
      color: #423b3bfd;
      background:#fdd55b;
   }
/*hero image and logo*/
#hero-image {
  height:263px;
  width: 100%;
  background-size: cover;
  background-color: cadetblue;
  background: url("images/wave-polina-kuzovkova.jpg") no-repeat center center;
} 
  #logo {
    height: 50px;
    padding-left: 20px;
    padding-top: 150px;
    padding-bottom: 20px;
    background-position: center;
    position: absolute;
  }
/*1 column for mobile up to 800px*/
#welcome, #form {
  font-family: 'Nunito', Arial, sans-serif;
  margin: 0 auto; 
  display: flex; 
  flex-direction: column;
}
.left-welcome, .form-intro{
  margin: 0 auto;
  padding: 8px;
}
.right-welcome {
  margin: 0 auto;
  padding: 8px;
} 
.middle-img {
  margin: 0 auto;
  padding: 8px;
}
.rock {
  border: 1px dotted #423b3bfd;
  border-radius: 50%;
  padding: 8px;
}
fieldset {
  margin-top: 20px;
  margin-right: 20px;
}
legend {
  font-size: 2rem;
  float: right;
  color: #fdd55b;
}
input {
  margin: 10px;
}
/* styling events for mob*/
#events {
  display: flex;
  flex-direction: column;
}
.event-list {
  list-style-image: url('images/water.svg');
  background-color: white;
  color: black;
  font-size: smaller;
  padding: 0 8px 8px 8px;
}
#events img {
  width: 50%;
  padding: 8px;
}

/*footer and sponsors*/
#footer {
  background-color: #423b3bfd;
}
.sponsors {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.sponsors a {
  padding: 20px;
}
.social {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.social a {
  padding: 20px;
}
/* Responsive design - cols for larger screens*/
@media (min-width: 800px) {
  #welcome {
    display: flex;
    flex-direction: row;
    align-content: center;
  }
  #form {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .form-intro {
    text-align: left;
  }
}